.about-page {
  .about-container {
    div {
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
}

/* New Start */

.scroller-container {
  width: 50%;
  position: absolute;
  right: 0;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 30%, white 100%, transparent);
}
.scroller[data-animated='true'] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 50s)
    var(--_animation-direction, forwards) linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  svg {
    fill: gray !important;
    stroke: #000000;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media screen and (max-width: 1200px) {
  .about-page {
    padding-bottom: 0;
  }

  .scroller-container {
    display: flex;
    flex-direction: column;

    width: auto;
    position: relative;

    .scroller {
      mask: linear-gradient(
        90deg,
        transparent,
        white 30%,
        white 80%,
        transparent
      );
      .scroller_inner {
        padding: 0.5rem;
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .scroller-container {
    transform: rotate(90deg);
    .scroller {
      mask: linear-gradient(
        90deg,
        transparent,
        white 30%,
        white 100%,
        transparent
      );

      .scroller_inner {
        padding: 0.5rem;
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
