.about-page {
  .about-container {
    div {
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }
}

/* New Start */

.scroller-container {
  width: 50%;
  position: absolute;
  right: 0;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: both;

  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 100%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 100%, transparent);
}
.scroller[data-animated='true'] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 50s)
    var(--_animation-direction, forwards) linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller_inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  div {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset, inset 5px 5px 10px #a9a9aa77,
      inset -5px -5px 10px #ffffff7e;

    svg {
      filter: drop-shadow(-5px -5px 8px #ffffff7a, 5px 5px 8px #a9a9aa7a);
    }
    &:hover {
      .tooltip {
        display: none;
      }
      svg {
        animation: jello 1s forwards;
      }
    }
  }

  svg {
    fill: gray !important;
    stroke: #000000;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media screen and (max-width: 1200px) {
  .about-page {
    padding-bottom: 0;
  }

  .scroller-container {
    display: flex;
    flex-direction: column;

    width: auto;
    position: relative;

    .scroller {
      mask: linear-gradient(
        90deg,
        transparent,
        white 30%,
        white 80%,
        transparent
      );
      .scroller_inner {
        padding: 0.5rem;
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .scroller-container {
    opacity: 0;
    animation: fadeIn 1s 1.2s forwards;
    transform: rotate(90deg);
    .scroller {
      mask: linear-gradient(
        90deg,
        transparent,
        white 30%,
        white 100%,
        transparent
      );

      .scroller_inner {
        padding: 0.5rem;

        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
