.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  right: 15%;
  bottom: 0;
  left: auto;
  top: 0;
  margin: auto;
  opacity: 0;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
  }

  .solid-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;

    z-index: 1;
  }
}

.svg-container {
  stroke: #1aafbc;
  stroke-width: 40px;
}
