.contact-form {
  width: 100%;
  margin-top: 20px;

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .inputBox {
      position: relative;
      opacity: 0;
      animation: jackInTheBox 1s, fadeIn 1s forwards;

      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.4s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.8s;
      }
      &:nth-of-type(4) {
        animation-delay: 2s;
      }
      &:nth-of-type(5) {
        animation-delay: 2.5s;
      }

      input,
      textarea {
        width: 250px;
        height: 40px;
        background: #e8e8e8;
        font-size: 15px;
        font-weight: 600;
        color: var(--font-color);
        padding: 5px 10px;
        outline: none;

        &:valid ~ span,
        &:focus ~ span {
          color: #00dfc4;
          transform: translateX(10px) translateY(-7px);
          font-size: 0.65em;
          padding: 0 10px;
          border-left: 1px solid #00dfc4;
          border-right: 1px solid #00dfc4;
          letter-spacing: 0.2em;
          background: #222;
        }

        &:valid:focus ~ span {
          background: #00dfc4;
          color: #1d2b3a;
          border-radius: 2px;
        }

        &:valid,
        &:focus {
          border-color: #00dfc4;
        }
      }

      span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgba(12, 12, 12, 0.25);
        text-transform: uppercase;
        transition: 0.5s;
      }

      textarea {
        height: 100px;
      }
    }

    .extraWidth {
      input {
        position: relative;
        width: 520px;
      }
      textarea {
        width: 520px;
      }
    }
    .send-btn {
      opacity: 0;
      animation: jackInTheBox 1s, fadeIn 1s forwards;

      @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }

      &:nth-of-type(5) {
        animation-delay: 2.5s;
      }
    }

    button {
      /* Variables */
      --button_radius: 0.75em;
      --button_color: #e8e8e8;
      --button_outline_color: #000000;
      font-size: 17px;
      font-weight: bold;
      border: none;
      border-radius: var(--button_radius);
      background: var(--button_outline_color);
      padding: 0;
      width: 150px;
      font-family: Dosis, sans-serif;
      .button_top {
        box-sizing: border-box;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 0.75em 1.5em;
        background: var(--button_color);
        color: var(--button_outline_color);
        background-image: url('../../assets/images/noise.png');
        opacity: 0.75;
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
        font-family: Dosis, sans-serif;
      }

      &:hover {
        .button_top {
          transform: translateY(-0.33em);
        }
        .svg-wrapper {
          animation: fly-1 0.6s ease-in-out infinite alternate;
        }
        svg {
          transform: translateX(1.2em) rotate(45deg) scale(1.1);
        }

        &:active {
          svg {
            transform: translateX(6.2em) rotate(45deg) scale(1.1);
          }
        }

        span P {
          transform: translateX(5em);
        }
      }
      &:active .button_top {
        transform: translateY(0);
      }
      svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
      }
      span {
        display: flex;
        justify-content: space-evenly;

        overflow: hidden;
        position: relative;
        transition: transform 0.3s ease-in-out;

        p {
          color: black;
          font-size: 1em;
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }

  .flat-button {
    color: #1aafbc;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #1aafbc;
    float: right;
    border-radius: 4px;
  }
}

.info-map {
  position: absolute;
  background-color: #000;
  top: 50px;
  right: 30%;
  z-index: 9999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17p;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #1aafbc;
  }
}

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 53%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1200px) {
  .contact-page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .contact-form form {
    .inputBox {
      width: 100%;
      input,
      textarea {
        width: 100%;
      }
    }
  }

  .map-wrap {
    position: relative;
    width: 90%;
    border: 2px solid #00dfc4;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .contact-page {
    .info-map {
      position: relative;
      padding: 10px;
      font-size: 14px;
      width: 90%;
      z-index: 1;
      top: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      span {
        display: none;
      }
    }
  }
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
