html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Dosis', 'san-serif';
  color: #444;
  background: #ffffff;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}

/* New start */
:root {
  --background-color: #004643;
  --clr: #0cae00;
  --btn-color: #000000;
  --btn-text-color: #fff;
  --project-card-bg: #2947cd00;
  --card-bg: #fff;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --shadow-color: #323232;
  --main-color: #f83d3d;
  --secondary-color: #1aafbc;
  --border-color: #0000;
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
}

.block {
  border-radius: 7px;
  border: 2px solid var(--border-color);
  box-shadow: -0.4rem 0.4rem var(--shadow-color);
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
}

.fixblock {
  border-radius: 7px;

  background-color: var(--secondary-color);
  color: var(--text-color);
  transition: 0.2s ease-in;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;

  &:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
}

.block-active {
  &:active {
    box-shadow: 0px 0px var(--shadow-color);
  }
}
.block-focus {
  &:focus {
    transform: translate(-5px, 0.4rem);
    box-shadow: 0px 0px var(--shadow-color);
  }
}

.inBlock {
  &:active {
    box-shadow: 0 0 var(--shadow-color);
  }
}
